{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="am-panel">
      <div class="am-panel-title">Entrar</div>
      <form method="post" class="pt-2">
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input class="form-control" type="email" name="email" required value="admin@example.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input class="form-control" type="password" name="password" required value="admin">
        </div>
        <button class="btn btn-am w-100">Entrar</button>
      </form>
      <div class="small text-muted mt-2">Padrão: admin@example.com / admin</div>
    </div>
  </div>
</div>
{% endblock %}